@model Contact


<h1>Get Contact by ID</h1>
<h4>Contact</h4>

<p><b>Name:</b> @Model.FirstName @Model.LastName</p>
<p><b>Email:</b> @Model.EmailId</p>
<p><b>Mobile:</b> @Model.MobileNo</p>
<p><b>Company:</b> @Model.CompanyName</p>
<p><b>Designation:</b> @Model.Designation</p>

<a asp-action="Index">Back</a>
